<h1>Recipe Comments</h1>
<% @comments.each do |comment| %>
  <div>
    <h4><%= comment.title %></h4>
    <h5>by: <%= link_to comment.recipe.user.name, user_path(comment.user) %></h5>
    <p><%= comment.content %></p>
  </div>
<% end %>
