<h5><strong>Comments <strong></h5>
<% @comments.each do |comment| %>
<h6> <i> Title: <%= comment.title %> <i></h6>
<h6>Content: <%= comment.content %></h6>
<h6>By: <%= comment.user.name %> </h6><br>
<% end %>