<h3>All Recipes</h3>
<%@recipes.each do |recipe|%>
  <%=recipe.title%> -
	<%if @user%>
    	<%=link_to "Show", recipe_path(recipe)%> <br>
	<%end%>	
<%end%>
	<%if @user%>
  		<%=link_to "New Recipe", new_recipe_path%><br>
	<%end%>
	<%if @user%>
  		<%=link_to "Search", ingredients_path%>
  	<%end%>
