 <%=link_to "Add Recipe", new_recipe_path%><br>
 <%= link_to "Newest", recipes_find_newest_path%><br> 
 <%=link_to "Search by Ingredient", search_path%><br>


<h3>All Recipes</h3>
<% @recipes.each do |recipe|%>
    <%=link_to recipe.title, recipe_path(recipe)%> <br>
<%end%>




