 <%=link_to "New Recipe", new_recipe_path%><br>
 <%=link_to "Ingredient Index", ingredients_path%><br>


<h3>All Recipes</h3>
<% @recipes.each do |recipe|%>
    <%=link_to recipe.title, recipe_path(recipe)%> <br>
		
<%end%>




