<%if logged_in? %>
 <%= render 'users/show', user: @user %>

<h3>Your Recipes</h3>
 <% current_user.recipes.each do |recipe|%>
 <%=link_to recipe.title, recipe_path(recipe)%> <br>
 <%end%>
 <% else %>
  <%= render template: 'users/welcome' %>
 <%end%>
