<%=link_to "All Recipes", recipes_path%><br>

<%=link_to "Add Recipe", new_recipe_path%>

<h3>Ingredient Index</h3>
<%@ingredients.each do |ingredient|%>
  <%=ingredient.name%> -

    	<%=link_to "Recipes", recipe_ingredients_path(ingredient)%> <br>
<%end%>

